.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.headerLogo {
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 0.5rem;
}

.youtube {
    color: white;
    font-size: 2rem;
}
.logo {
    font-size: 2rem;
    border-radius: 0.2em;

}

.search_input {
    width: 70%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    margin-right: 5rem;

}
.input {
    width: 80%;
    height: 100%;
    font-size: 1.2rem;
}
.search {
    height: 100%;
    width: 2.5rem;
}