.container {
    width: 50%;
    height: 100%;
    padding-left: 0.5rem;
    margin: 0.2em 0;
}

.video {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid lightgray;
    transition: transform 250ms ease-in;
    box-shadow: 5px 5px 4px 1px rgba(163,156,168,0.92);
}
.video:hover {
    transform: scale(1.03);
}
.thumbnail {
    width: 40%;
    height: 50%;
}
.metadata {
    margin-left: 0.5rem;
}
.title, .channel {
    font-size: 0.8rem;
}
.channel {
    font-size: 0.6rem
}